<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt
plt.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='AppleGothic')
plt.style.use('fivethirtyeight')
sns.set_context("notebook", font_scale=1.5)
%matplotlib inline

from IPython.display import Image

import warnings
warnings.filterwarnings('ignore')

from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.model_selection import cross_val_score , cross_validate, StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# custom
from load_dfs import df_wine, df_boston, df_iris, df_titanic

In [ ]:
data = pd.read_csv('../../datasets/titanic/train.csv')

In [ ]:
data[data.isnull().any(axis=1)].head()

In [ ]:
data = data.dropna()
data.head()

In [ ]:
data.reset_index(drop=True, inplace=True)

In [2]:
df = df_titanic()

In [16]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [17]:
df['Sex'] = encoder.fit_transform(df['Sex'])

In [18]:
print('인코딩 클래스:', encoder.classes_)

인코딩 클래스: ['female' 'male']

In [19]:
print('디코딩 원본값:', encoder.inverse_transform([0,1]))

디코딩 원본값: ['female' 'male']

In [20]:
df = df_titanic()

mapping = {'male': 0,
           'female': 1}
df['Sex'] = df['Sex'].map(mapping)

df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C

In [21]:
inv_mapping = {v: k for k, v in mapping.items()}

In [23]:
df = df_titanic()
pd.get_dummies(df, columns=['Pclass', 'Sex', 'Embarked']).head(3)

,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,0,0,1,0,1,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,1,0,0,1,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,1,0,0,0,1

In [24]:
data = df_titanic()
data['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

In [25]:
data = df_titanic()

In [ ]:
def fillna(df):
    df['Age'].fillna(df['Age'].mean(), inplace=True)
    df['Cabin'].fillna('N', inplace=True)
    df['Embarked'].fillna('N', inplace=True)
    df['Fare'].fillna(0, inplace=True)
    return df

def drop_features(df):
    df.drop(['PassengerId', 'Name', 'Ticket'], axis=1,
            inplace=True)
    return df

def format_features(df):
    df['Cabin'] = df['Cabin'].str[:1]